.tourable__confirm{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 8px;
    left: 8px;
    width: 360px;
    padding: 4px;
    min-height: 200px;
    background: white;
    border-radius: 4px;
    &.show{
        opacity: 1;
        transition: .25s;
        pointer-events: all;
    }
    &.hide{
        opacity: 0;
        transition: .25s;
        pointer-events: none;
    }
    &__message{
        flex: 1;
        padding: 4px;
    }
    &__buttons{
        display: flex;
        flex: 0 0 56px;
        justify-content: center;
        align-items: center;
    }
    &__confirm, &__cancel {
        flex: 1;
        height: 40px;
        border-radius: 4px;
        margin: 0 4px;
        color: white;
        font-weight: 700;
    }
}