.tourable__config{
    position: absolute;
    right: 0;
    top: 0;
    width: $configWidth;
    height: 100%;
    padding: 28px 23px;
    background-color: #2a3038;
    color: white;
    &.show{
        transition: .25s;
    }
    &.hide{
        transform: translateX(100%);
        transition: .25s;
    }
    &__header{
        display: flex;
    }
    &__title{
        font-size: 18px;
    }
    &__close{
        width: 27px;
        height: 27px;
        margin-left: auto;
        margin-top: auto;
        border-radius: 50%;
        background: white;
        cursor: pointer;
        svg {
          filter: $iconBlueFilter;
        }
    }
    &__icon-browser{
        &__icon{
            width: 70px;
            height: 70px;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}