.tourable__config{
    position: absolute;
    right: 0;
    top: 0;
    width: $configWidth;
    height: 100%;
    padding: 28px 15px 28px 23px;
    background-color: #2a3038;
    color: white;
    &.show{
        opacity: 1;
        transition: .25s;
    }
    &.hide{
        opacity: 0;
        transform: translateX(100%);
        transition: .25s;
    }
    &__header{
        display: flex;
        padding-bottom: 26px;
    }
    &__wrapper{
        position: relative;
        width: 100%;
        height: calc(100% - 46px - 46px);
        padding-right: 8px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    &__footer{
        position: sticky;
        bottom: 0;
        width: 100%;
    }
    &__title{
        font-size: 18px;
    }
    &__close{
        width: 27px;
        height: 27px;
        margin-left: auto;
        margin-top: auto;
        border-radius: 50%;
        background: white;
        cursor: pointer;
        svg {
          filter: $iconBlueFilter;
        }
    }
    &__delete, &__edit{
        width: 100%;
        height: 40px;
        margin: 16px auto;
        font-size: 14px;
        font-weight: 500;
        border-radius: 4px;
        color: white;
    }
    .react-component__form__input__label{
        display: block;
        padding-bottom: 2px;
    }
    .react-component__labeled-media-select{
        &__wrapper{
            grid-template-columns: repeat(auto-fit, minmax(257px, 1fr));
            justify-items: start;
            padding: 20px;
        }
    }
    .react-component__media-select{
        &__wrapper{
            overflow: visible;
            background: #20242a;
            border-radius: 4px;
            padding: 12px;
            grid-template-columns: repeat(auto-fit, minmax(72px, 1fr));
            justify-items: center;
        }
        &__item{
            width: 64px;
            height: 64px;
            background: none;
            box-shadow: none;
            border-radius: 4px;
            transition: .25s;
            &:hover{
                backdrop-filter: brightness(0.9);
            }
            &.selected{
                border: 1px solid blue;
            }
        }
    }
}