.tourable__context-menu{
    position: absolute;
    &.show{
        opacity: 1;
        pointer-events: all;
    }
    &.hide{
        opacity: 0;
        pointer-events: none;
        transition: .25s;
        pointer-events: none;
    }

    .react-component{
        &__context-menu{
            background-color: white;
            border-radius: 2px;
            min-width: 172px;
            &__item{
                width: 100%;
                padding: 2px 2px;
                white-space: nowrap;
                font-size: 14px;
                cursor: pointer;
            }
        }
    }
}