// utility bar related variables
$utilityBarSize: 96px;
$utilityItemSize: 24px;
$utilityItemSpacing: 16px;
// title related variables
$titlePadding: 30px;
// previews related variables
$previewPaddingX: 140px;
$previewPaddingY: 16px;
$previewItemSpacing: 30px;
$previewItemWidth: 140px;
$previewItemHeight: 90px;
$previewItemBorderRadius: 4px;
// library related variables
$libraryBorderRadius: 4px;
$libraryPadding: 16px;
$libraryItemWidth: 140px;
$libraryItemHeight: 90px;
$libraryItemBorderRadius: 4px;
$libraryItemSpacing: 30px;
// play button related variables
$playButtonRight: 160px;